
<h1> Neighborhoods </h1>
<ul>
  <% @neighborhoods.each do |n| %>
    <li> <%= link_to n.city, neighborhood_path(n), class: "btn" %> </li>
  <% end %>
</ul>

<%= link_to 'New Neighborhood', new_neighborhood_path, class: "btn med info" %>
