.home-image {
  width: 100%; }

.dream-home {
  background-image: url("home_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px; }

.search-neighborhood {
  padding: 15px;
  background: rgba(236, 240, 241, 0.8);
  border-radius: 15px;
  margin-top: 200px; }

.home-tagline {
  text-align: center; }
