nav.top-bar {
  height: 52px;
  li a {
    font-size: 1.1em;
    &:hover {
      border-bottom: 5px solid #e08215;
    }
  }
}

nav.top-bar ul li.name h1 a {
  font-size: 2em;
  margin-top: 2px;
  color: #e08215;
  &:hover {
  border: none;
  color: #fff;
  }
}
