.neighborhood-photo img {
  width: 400px;
  margin-top: 200px; }

.write h2 {
  text-align: center;
  margin-top: 50px; }

.center {
  display: block;
  margin: 0 auto; }

.reviews h2 {
  text-align: center;
  margin-top: 50px; }

.title h3 {
  margin-top: .7em; }
.title p {
  margin-left: 20px;
  font-size: .75em; }

.progress {
  margin-top: 20px; }

.upvote, .edit, .delete, .downvote {
  float: right;
  margin-top: 1em;
  margin-left: .5em; }

.edit {
  background-color: #f1c40f !important; }

.delete {
  background-color: #c0392b !important; }
