.user-sidebar {
  background-color: #DDD;
  height: 800px; }

.user-reviews ul {
  list-style: none; }

.user-reviews ul li {
  margin-bottom: 20px; }

.comments {
  color: #c60f13; }

.vote {
  float: right;
  margin-right: 100px;
  margin-bottom: 0; }

.information {
  background-color: white;
  padding: 20px;
  margin-top: 20px; }
