.user-sidebar {
  background-color: #DDD;
  height: 800px; }

.user-reviews ul {
  list-style: none; }

.user-reviews ul li {
  margin-bottom: 20px; }

.comments {
  color: #c60f13; }

.vote {
  float: right;
  margin-right: 100px;
  margin-bottom: 0; }

hr {
  height: 10px;
}

.review-body {
  /* margin-bottom: 20px; */
}

.th {
  width: 100%;
  height: auto;
}

.comment-body {
  font-family: "Monospace", Lucida;
  font-size: 16px;
  margin-bottom: 10px;
}
